<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hidden Items</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>ActivityIndicator</string>
			<key>label</key>
			<string>Activity/Loading Indicator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>AirplaneMode</string>
			<key>label</key>
			<string>Airplane Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>AirPlay</string>
			<key>label</key>
			<string>AirPlay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>Alarm</string>
			<key>label</key>
			<string>Alarm</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>BatteryIcon</string>
			<key>label</key>
			<string>Battery Icon &amp; Lightning Bolt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>BatteryPercent</string>
			<key>label</key>
			<string>Battery Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>Bluetooth</string>
			<key>label</key>
			<string>Bluetooth</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>BluetoothBattery</string>
			<key>label</key>
			<string>Bluetooth Battery</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>CallForwarding</string>
			<key>label</key>
			<string>Call Forwarding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>CarrierName</string>
			<key>label</key>
			<string>Carrier Name</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>DataNetwork</string>
			<key>label</key>
			<string>Data Network</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>DND</string>
			<key>label</key>
			<string>Do Not Disturb</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>LocationServices</string>
			<key>label</key>
			<string>Location Services</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>RotationLock</string>
			<key>label</key>
			<string>Rotation Lock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>SignalStrength</string>
			<key>label</key>
			<string>Signal Strength</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>Siri</string>
			<key>label</key>
			<string>Siri</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>Time</string>
			<key>label</key>
			<string>Time</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>TTY</string>
			<key>label</key>
			<string>TTY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.aehmlo.statusprettifier</string>
			<key>key</key>
			<string>VPN</string>
			<key>label</key>
			<string>VPN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>A respring may be required for changes to take effect.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>Status Bar Prettifier</string>
</dict>
</plist>
